@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
  /* ------- Fuentes ------- */
  --fuente: Poppins, Sans-serif;

  /* ------- Colores ------- */
  --primario-10: #e8f0fd;
  --primario-30: #8bb6f3;
  --primario: #2e7dea;
  --primario-hover: rgba(46, 123, 234, 0.8);
  --primario-70: #104ca2;
  --primario-90: #072046;
  --neutral-blanco: #fff;
  --neutral-negro: #0f1115;
  --neutral-gris-claro-1: #f0f2f5;
  --neutral-gris-claro-2: #d1d5da;
  --neutral-gris: #949aa1;
  --neutral-gris-oscuro: #50555c;
  --semantico-verde: #97d92b;
  --semantico-rojo: #ea433b;
  --semantico-naranja: #fba33b;
  --semantico-azul: #2e7bea;

  /* ------- Efectos ------- */
  --backgroundPrincipal: url(../img/fondoLogin.svg);
  --borde: 0.2px solid rgba(0, 0, 0, 0.15);
  --sombra: 0px 0px 4px 0px #d9d9d9;
  --modal-blur: blur(6px);
  --modal-background: #07204672;
}
