/*modal*/
.inputLargo {
  width: 83.3%;
  padding: 13px 11px;
  background-color: var(--neutral-gris-claro-1);
  border: none;
  color: var(--neutral-gris);
  font-weight: 300;
  margin-top: 3%;
  border-radius: 7px;
}

.matriculaCoche {
  margin-left: 10.4%;
}

.modeloCoche {
  margin-left: 10.4%;
  margin-top: 4%;
}

.marcaCoche {
  margin-left: 10.4%;
  margin-top: 4%;
}

.cocheAP {
  display: flex;
  width: 79.16%;
  margin-left: 10.4%;
  margin-top: 4%;
  align-items: center;
}

.inputCorto {
  width: 100%;
  padding: 13px 11px;
  background-color: var(--neutral-gris-claro-1);
  border: none;
  color: var(--neutral-gris);
  font-weight: 300;
  margin-top: 6%;
  border-radius: 7px;
}

.cocheCoche {
  width: 24.8%;
  margin-right: 10%;
}

.asientosCoche {
  width: 24.8%;
  margin-right: 10%;
}

.pisosCoche {
  width: 24.8%;
}

.atrasGuardar {
  margin-left: 10.4%;
  margin-top: 8.18%;
  padding-bottom: 9.1%;
  align-items: center;
}

.modalAtras {
  width: 41.94%;
  padding: 7px 18px;
  border-radius: 7px;
  background-color: var(--neutral-gris);
  font-size: 1rem;
  color: var(--primario-10);
  border: none;
  margin-right: 3.48%;
  cursor: pointer;
}

.datosGuardar {
  width: 41.94%;
  padding: 7px 18px;
  border-radius: 7px;
  background-color: var(--primario);
  font-size: 1rem;
  color: var(--primario-10);
  border: none;
  cursor: pointer;
}

.datosGuardar:hover {
  background: var(--primario-hover);
}
/*fin modal*/