body {
  background-color: var(--neutral-gris-claro-1);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
  font-family: var(--fuente);
}

.divPrincipal {
  display: flex;
}

.content {
  width: 79.86%;
  height: 100vh;
  position: relative;
}

/*idioma*/
.idioma {
  width: 4rem;
  margin-left: 85%;
  margin-top: 3%;
}

.dropdown {
  display: inline-block;
  width: 100%;
}

.dropdown .dropbtn {
  border: none;
  background-color: inherit;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 4rem;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.4);
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  padding: 5px;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: var(--primario);
}
/*fin idioma*/

/*panel lateral*/
.panelLat {
  background-color: var(--primario-90);
  height: 100vh;
  width: 20.14%;
  position: relative;
}

.logo {
  margin-top: 10%;
  width: 68.97%;
  margin-left: 15.52%;
  margin-bottom: 10%;
}

.panelActivo {
  display: flex;
  margin-left: 11.03%;
  width: 77.59%;
  height: 3.91%;
  align-items: center;
}

.iconActivo {
  width: 18px;
  font-size: 18px;
  margin-left: 2.67%;
  color: var(--primario-30);
}

.latActivo {
  font-size: 1rem;
  text-decoration: none;
  color: var(--primario-30);
  margin-left: 5.78%;
  width: 79.11%;
}

.flechaActiva {
  font-size: 0.6rem;
  align-self: center;
  color: var(--primario-30);
}

.panelOpcion {
  display: flex;
  margin-left: 11.03%;
  width: 77.59%;
  height: 3.91%;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 18px;
  font-size: 18px;
  margin-left: 2.67%;
  color: var(--primario-10);
}

.latOpcion {
  display: flex;
  text-decoration: none;
  width: 100%;
}

.latOpcion span {
  font-size: 1rem;
  width: 79.11%;
  color: var(--primario-10);
  display: flex;
  margin-left: 5.78%;
}

.flecha {
  font-size: 0.6rem;
  align-self: center;
  color: var(--primario-10);
}

.latOpcion:hover {
  border-radius: 7px;
  width: 99%;
}

.cerrarSesion {
  position: absolute;
  bottom: 3.61%;
  width: 53.1%;
  height: 3.71%;
  margin-left: 23.45%;
}

.cerrarSesion button {
  width: 100%;
  height: 100%;
  border-radius: 7px;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  color: var(--primario-10);
  background: var(--primario);
}

.cerrarSesion i {
  font-size: 0.8rem;
}

.cerrarSesion button:hover {
  background: var(--primario-hover);
}
/*fin panel lateral*/

/*content*/
h1 {
  font-size: 26px;
  font-weight: 600;
  line-height: 29px;
  letter-spacing: -0.5199999809265137px;
  margin-left: 5.2%;
  color: var(--primario-90);
}

.buscador {
  width: 91%;
  height: 6.64%;
  border-radius: 20px;
  background-color: var(--neutral-blanco);
  margin-left: 5.2%;
  display: flex;
  align-items: center;
  border: var(--borde);
  box-shadow: var(--sombra);
}

.nuevo {
  width: 13.37%;
  padding: 7px 18px;
  border-radius: 7px;
  background-color: var(--primario-90);
  font-size: 1rem;
  color: var(--primario-10);
  margin-left: 1.43%;
  align-items: center;
  border: none;
  cursor: pointer;
}

.nuevo i {
  font-size: 13px;
  margin-right: 5%;
}

.editar {
  width: 13.37%;
  padding: 7px 18px;
  border-radius: 7px;
  background-color: var(--primario-90);
  font-size: 1rem;
  color: var(--primario-10);
  margin-left: 1.43%;
  align-items: center;
  border: none;
  cursor: pointer;
}

.editar i {
  font-size: 13px;
  margin-right: 5%;
}

.borrar {
  width: 13.37%;
  padding: 7px 18px;
  border-radius: 7px;
  background-color: var(--semantico-rojo);
  font-size: 1rem;
  color: var(--primario-10);
  margin-left: 1.43%;
  align-items: center;
  border: none;
  cursor: pointer;
}

.borrar i {
  font-size: 13px;
  margin-right: 5%;
}

.TxtBuscar {
  background-color: var(--neutral-gris-claro-1);
  width: 34.5%;
  padding: 7px 18px;
  margin-left: 1.43%;
  border: none;
  border-radius: 7px;
}

.buscar {
  width: 13.37%;
  padding: 7px 18px;
  border-radius: 7px;
  background-color: var(--primario-90);
  font-size: 1rem;
  color: var(--primario-10);
  margin-left: 1.43%;
  align-items: center;
  border: none;
  cursor: pointer;
}

.buscar i {
  font-size: 13px;
  margin-right: 5%;
}

.table {
  width: 91%;
  height: 74%;
  margin-left: 5.2%;
  margin-top: 2.7%;
  background-color: var(--neutral-blanco);
  border-radius: 20px;
  overflow: scroll;
  border: var(--borde);
  box-shadow: var(--sombra);
}

tbody tr:nth-child(odd) {
  background: var(--neutral-blanco);
}

tbody tr:nth-child(even) {
  background: var(--neutral-gris-claro-1);
}

.mostrarDatos {
  border-collapse: collapse;
  width: 100%;
  text-align: center;
  color: var(--neutral-gris);
  font-weight: 400;
  font-size: 1rem;
  vertical-align: auto;
}

.filaTitulo {
  color: var(--primario-90);
  font-weight: 500;
  font-size: 1.1rem;
}

.filaTitulo td {
  padding: 0.8%;
}

.fila td {
  padding: 0.8%;
}

.check {
  width: 18px;
  height: 18px;
  appearance: none;
  border-radius: 4px;
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
  border: 2px solid #8e8e93;
}

.check:checked {
  background-color: var(--primario);
}
/*fin content*/